<form method="POST" class="shadow p-4 bg-white rounded">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" name="Username" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="{{ url_for('add_supplier') }}" class="btn btn-link">New Supplier?</a>
</form>
